<!DOCTYPE html>
<html>
<head>

    <title>@Page.Title</title>
    <link href="~/Public/css/layoutStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("header", required: false)
</head>
<body>
    <section class="header clearfix">
        <div class="container py-2">
            <div class="row">
                <div class="col-md-2 logo">
                    <img src="~/Public/Image/logo.png" alt="logo" class="img-flug" />

                </div>
                <div class="col-md-6">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
    <section class="mainmenu clearfix bg-main">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-main">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="mainContent clearfix">
        @RenderBody()
    </section>
    <section class="footer clearfix bg-footer py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="text-light"> Chung toi la ai</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="text-light"> CHINH SACH</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="text-light"> KHU BAN HANG</h3>
                </div>
                <div class="col-md-3">
                    <h3 class="text-light">TRO GIUP CHUNG</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright clearfix bg-footer py-4">
        <div class=" container border-top border-light">
            <div class="row">
                <div class="col-md-6 text-light">
                    Ban quyen cua tuan hacker
                </div>
                <div class="col-md-6"></div>
            </div>

        </div>
    </section>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("footer", required: false)
</body>

</html>
